body{
    margin: 0;
    padding: 0;
    width: calc(100%-10px);
    height: calc(100%-10px);
    background-color: white;
    border: solid 4px black;
}

.CCar{
   position: absolute;
}

.Coin{
    position: absolute;
    border: solid 2px goldenrod;
    color: darkorange;
    background-color: chocolate;
    text-align: center;
    border-radius: 50%;
}

.Obstacle{
   position: absolute;
}